@import 'assets/styles/constants.scss';

.start-page {
  height: $minFullWidth;
  background-image: url('/assets/img/mainPicture.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.medium-block {
  height: $minFullWidth;
  background-image: url('/assets/img/mainPicture3.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.rsschool-block {
  height: $minFullWidth;
  background-image: url('/assets/img/mainPicture4.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
